@font-face
{
  font-family: Lobster;
  src: url(font/Lobster-Regular.ttf);
  font-family: FugazOne-Regular;
  src: url(font/FugazOne-Regular.ttf);
  font-family: YanoneKaffeesatz-Regular;
  src: url(font/YanoneKaffeesatz-Regular.ttf);
  font-family: Courgette;
  src: url(font/Courgette-Regular.ttf);
}

#Courgette
{
  font-family: Courgette;
}

#Lobster
{
  font-family: Lobster;
}

#Fugaz
{
  font-family: FugazOne-Regular;
}

#Yanone
{
  font-family: YanoneKaffeesatz-Regular;
}

/* ========================== BODY ================================== */
#bodybackcolor
{
  background-color: lightyellow;
}

#content
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  grid-gap: 10px;
  max-width: 1284px;
  margin: 0 auto;
  grid-template-areas:
  "area1 area2 area2 area2"
  "area1 area3 area3 area3"
  "area4 area5 area5 area5"
  "area4 area10 area10 area10"
  "area4 area6 area7 area7"
  "area4 area6 area7 area7"
  "area4 area6 area8 area9"
  "area4 area6 area8 area9";
}

.kotak1
{
  grid-area: area1;
}
.kotak2
{
  grid-area: area2;
}
.kotak3
{
  grid-area: area3;
}
.kotak4
{
  grid-area: area4;
}
.kotak5
{
  grid-area: area5;
}
.kotak6
{
  grid-area: area6;
}
.kotak7
{
  grid-area: area7;
}
.kotak8
{
  grid-area: area8;
}
.kotak9
{
  grid-area: area9;
}
.kotak10
{
  grid-area: area10;  
}